<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="main.css">

    <title>Mako for <%= today %></title>
  </head>
  <body>
    <header id="banner">
      <h1>🥛 Mako</h1>
      <h4><%= today %></h4>
    </header>
    
    <%= yield %>

    <footer id="footer">
      <p class="meta">Made with Mako</p>

      <p class="meta">Last updated: <%= last_updated %></p>
    </footer>
  </body>
</html>
